<launch>
   <arg name="joint_num" default="0" />
   <arg name="joint_angle" default="0" />
   <rosparam param="joint_num" subst_value="True">$(arg joint_num)</rosparam>
   <rosparam param="joint_angle" subst_value="True">$(arg joint_angle)</rosparam>
   <node name="arm_pose" pkg="ros_arduino_python" type="arm_pose_node.py" output="screen" />
</launch>
