<launch>
   <node name="arduino_bridge" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
      <rosparam file="$(find ros_arduino_python)/config/arduino_params.yaml" command="load" />
   </node>
   
   <node name="right_gripper_controller" pkg="ros_arduino_python" type="gripper_controller.py" output="screen">
      <param name="model" value="parallel"/>
      <param name="joint_name" value="right_gripper_joint"/>
      <param name="gripper_width_m" value="0.036"/>
      <param name="gripper_width_deg" value="135.0"/>
   </node>
   
   <node name="left_gripper_controller" pkg="ros_arduino_python" type="gripper_controller.py" output="screen">
      <param name="model" value="parallel"/>
      <param name="joint_name" value="left_gripper_joint"/>
      <param name="gripper_width_m" value="0.036"/>
      <param name="gripper_width_deg" value="135.0"/>
   </node>

   <arg name="animation" default="~proto-demo" />
   <rosparam param="animation" subst_value="True">$(arg animation)</rosparam>
   <node name="teleop_demo" pkg="ros_arduino_python" type="teleop_demo.py" output="screen">
      <rosparam file="$(find ros_arduino_python)/config/arm_poses.yaml" command="load" />
   </node>

   <arg name="joy_config" default="xbox" />
   <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
     <rosparam command="load" file="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
   </node>
</launch>
